body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--colorOnBackground);
  background-color: var(--colorBackground);
}

/* Container Principal - Colunas */
.main-container {
  max-width: 1280px;

  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacingLarge);

  padding: var(--spacingSemi);
  
  background-image: url('../img/background.svg');
  background-position:center;
  background-size:cover;
  background-repeat: no-repeat;
}

/* Título e Subtítulo à Esquerda */
.left-section {
  flex: 1;
}

.section-title {
  font-size: var(--headline3);
  color: var(--colorOnPrimary);
  margin-bottom: var(--spacingTiny);
}

.instructions {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.03em;
  color: var(--colorOnPrimary);
  margin-bottom: var(--spacingSemi);
}

.buttonOutlined {
  border: solid;
  border-color: var(--colorOnPrimary);
  border-radius: var(--buttonBorderRadius);

  padding: var(--spacingSmall) var(--buttonPaddingX);
  margin: 0 var(--spacingMicro);

  font-size: var(--body1);
  color: var(--colorOnPrimary);
  background-color: var(--colorPinkAvon);

  cursor: pointer;
  transition: background-color 0.3s;
}

.buttonOutlined:hover {
  background-color: var(--colorPrimary);
}

/* Calculadora à Direita */
.right-section {
  flex: 1;
  
  background-color: var(--colorSurface);
  border-radius: var(--borderRadiusLarge);
  box-shadow: var(--elevationLarge);
}

.calculator-title{
  text-align: center;
  padding: var(--spacingStandard);
  color: var(--colorSecondary);
}

.form-label {
  font-size: var(--body1);
  color: var(--colorSecondary);
  text-align: left;
}

.calculator {
  height: 64px;

  margin: 0 var(--spacingStandard);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border-style: solid;
  border-color: var(--colorNeutral75);
  border-radius: var(--buttonBorderRadius);
}

.calculator .calculator-slider {
  flex: 4;
  margin-left: var(--spacingStandard);

  height: 2px;
  cursor: pointer;

  -webkit-appearance: none; 
  appearance: none;
  background: var(--colorNeutral200); 
  border-radius: var(--buttonBorderRadius);
  
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}


.calculator .calculator-slider:hover {
  opacity: 1;
}

.calculator-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;

  width: 32px;
  height: 32px;
  
  border-radius: var(--buttonBorderRadius);
  background-color: var(--colorSecondary);
  cursor: pointer;
  background: url('../img/filled-navigation-move.svg');
}

.calculator .calculator-slider-value {
  flex: 1;
  padding-right: var(--spacingStandard);

  font-size: var(--headline5);
  font-weight: bold;
  text-align: right;
  color: var(--colorSecondary);
}

.categoria-produto {
  margin: 0px ;
  padding: 0px ;

  display: flex;
  justify-content: space-between;
  margin-bottom: var(--spacingStandard);
}

/* Clase para suavizar a troca de imagem */
.fade-image {
  opacity: 0;
}

.promo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.promo {
  flex: 2; 

  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  align-items:center;

}

.promo-image {
  height: 300px;

  transition: opacity 0.3s ease-in-out; 
  opacity: 1; 

}

.promo-subtitle {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items:center;

  border-style: solid none none none;
  border-color: var(--colorNeutral200);
}

.promo-icon {
  width: var(--spacingStandard);
  height: var(--spacingStandard);

  padding: 0 8px 0 0;
}

.promo-subtitle .promo-tag {
  font-size: var(--caption);
  color: var(--colorSecondary);

  text-align: left;
}

.earnings-result {
  flex: 1;
}

.results-list {
}

.results-list .diamond {
  margin-left: 0px;

  height: var(--spacingXLarge);
  background-color: var(--colorLevelDiamond);
}


.results-list .gold{
  margin-left: var(--spacingTiny);

  height: var(--spacingXLarge);
  background-color: var(--colorLevelGold);
}

.results-list .silver {
  margin-left: var(--spacingSmall);

  height: var(--spacingXLarge);
  background-color: var(--colorLevelSilver);
}

.results-list .bronze {
  margin-left: var(--spacingStandard);

  height: var(--spacingXLarge);
  background-color: var(--colorLevelBronze);
}

.results-list .seed {
  margin-left: var(--spacingSemi);
  
  height: var(--spacingXLarge);
  background-color: var(--colorLevelSeed);
}

.results-list li {
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  justify-content: space-between;
  
  text-transform: uppercase; 
  font-size: var(--body1);

  color: var(--colorOnPrimary);
  
  border-radius: var(--buttonBorderRadius) 0 0 var(--buttonBorderRadius); 
}

.results-list li .icon {
  width: var(--spacingSemi); 
  height: var(--spacingSemi); 
  
  margin-left: var(--spacingSmall);
}

.results-list li .value-to-gain {
  width: 140px;
  text-align: center;
}

.results-list li .amount {
  display: inline-flex;
  flex-direction: row;
  gap: 4px;
}

.mark-1 {
  display: flex;
  flex-direction: column;
  padding: 0 var(--spacingTiny);

  /* Remova a borda inicial */
  border-style: none solid none none;
  border-color: var(--colorOnPrimary);
}

.mark-2 {
  display: flex;
  flex-direction: column;
  padding: 0 var(--spacingMicro);

  /* Remova a borda inicial */
  border-style: none;
}

.amount-number {
  text-align: center;
  font-size: var(--body1);
}

.amount-mark {
  font-size: 9px;
  letter-spacing: 1px;
}

.results-list li .level{
  display:inline;
  font-size: var(--caption);
  letter-spacing: 0.05em;
  margin: 0;
  padding: 0;
}

.results-list li .level-mobile{
  display: none;
  font-size: 6px;
  letter-spacing: 0.05em;
  margin: 0;
  padding: 0;
}

/* Comportamento mobile */

@media (max-width: 768px) {
  /* Container Principal - Colunas */
  .main-container {
    flex-direction: column;
    gap: var(--spacingMedium);
    padding: var(--spacingMedium);
    background-image: none;
    background-color: var(--colorPinkAvon);
  }

  /* Ajustes para a seção esquerda e direita */

  .left-section {
    text-align: center;
    padding: var(--spacingStandard) var(--spacingStandard) var(--spacingXLarge) var(--spacingStandard);
  }

  .right-section {
    width: 90%;
    text-align: center;
  }

  .promo-container {
    flex-direction: column; /* row no desktop e column no mobile */
  }

  
  .calculator .calculator-slider {
    flex: 3;
  }

  .calculator .calculator-slider-value {
    padding-right: var(--spacingStandard);
    font-size: var(--headline5);
  }

  .promo {
    width: 90%;
    height: 280px;
    flex-direction: row;
    justify-content: center;
    gap: 8px;

    text-align: center;

    background-color: #FFFFFF;
  }

  .promo-image {
    flex: 2;
  }
  
  .promo-subtitle {
    flex: 1;
    flex-direction: column;
    align-items:flex-start;
    padding: 0 8px;
    margin: 0;

    border-style: none none none solid;
  }

  .promo-icon {
    padding: 0;
  }
  
  .promo-subtitle .promo-tag {
  }
  
  .earnings-result {
    width: 100%;
  }
  
  .results-list {
    margin: 0px;
    padding: 0px;
    width: 90%;
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    
  }

  .results-list .diamond {
    height: 170px;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: var(--spacingStandard) 0 var(--spacingSmall) 0;
  }
  
  .results-list .gold{
    height: 162px;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: var(--spacingStandard) 0 var(--spacingSmall) 0;
  }
  
  .results-list .silver {
    height: 156px;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: var(--spacingStandard) 0 var(--spacingSmall) 0;
  }
  
  .results-list .bronze {
    height: 148px;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: var(--spacingStandard) 0 var(--spacingSmall) 0;
  }
  
  .results-list .seed {
    height: 140px;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: var(--spacingStandard) 0 var(--spacingSmall) 0;
  }
  
  .results-list li {

    display: inline-flex; /* flex no desktop e inline-flex no mobile */
    flex-direction: column; /* row no desktop e column no mobile */
    align-items: flex-end;
    justify-content: flex-end;

    border-radius: var(--buttonBorderRadius) var(--buttonBorderRadius) 0 0;
  }
  
  .results-list li .icon {
    margin: 0 var(--spacingMicro); 
    padding: 0; /*
    margin: var(--spacingMicro); 
    padding: var(--spacingTiny);*/
  }
  
  .results-list li .value-to-gain {
    width: auto;
    text-align: center;
  }
  
  .results-list li .amount {
    flex-direction: column;
    text-align: center;
    font-size: var(--body1);
  }

  .mark-1 {
    border-style: none;
  }

  .results-list li .level{
    margin: 0;
    padding: 0;
    display:none;
    font-size: var(--caption);
    letter-spacing: 0.05em;
  }
  
  .results-list li .level-mobile{
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    letter-spacing: 0.05em; 
  }
}

/*

  justify-content: center; //alinhamento dos ítens ao longo do eixo principal, de acordo com o flex-direction
  align-items: center; //alinhamento de acordo com o eixo transversal, contrario do justify-content
  align-content: center; //alinha ítens individuais dentro do eixo principal. só tem efeito com várias linhas

*/