/* Estilos Básicos para a Calculadora de Ganhos */
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--colorBackground);
  color: var(--colorOnBackground);
  margin: 0;
  padding: 0;


  background-image: url('../img/Asset 4.svg');
  background-position:center;
  background-size:inherit;
  background-repeat: no-repeat;
}

/* Container Principal - Colunas */
.main-container {
  max-width: 1280px;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  
  margin: var(--spacingXLarge) auto;
  padding: var(--spacingSemi);
  gap: var(--spacingLarge);
}

/* Título e Subtítulo à Esquerda */
.left-section {
  flex: 1;
  text-align: left;
}

.section-title {
  font-size: var(--headline3);
  color: var(--colorOnPrimary);
  margin-bottom: var(--spacingTiny);
}

.instructions {
  font-size: 18px;
  font-weight: 300;
  color: var(--colorOnPrimary);
  margin-bottom: var(--spacingSemi);
  letter-spacing: 0.03em;
}

/* Calculadora à Direita */
.right-section {
  flex: 1;
  justify-content:center;
  background-color: var(--colorSurface);
  border-radius: var(--borderRadiusSmall);
  box-shadow: var(--elevationLarge);
  padding: var(--spacingSemi) var(--spacingStandard) var(--spacingTiny) var(--spacingStandard);
  text-align: center;
}

.calculator-title{
  color: var(--colorSecondary);
  margin: 0;
}

.calculator-subtitle{
  width: 100%;
  height: 64px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-color: var(--colorNeutral75);
  border-radius: var(--buttonBorderRadius);
  padding: 0;
  margin: var(--spacingSemi) 0;
}

.calculator-subtitle .form-slider {
  width: 75%;
  height: 2px;
  cursor: pointer;
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  background: var(--colorNeutral200); /* Green background */
  border-radius: var(--buttonBorderRadius);
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}


.calculator-subtitle .form-slider:hover {
  opacity: 1;
}

.form-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 32px;
  height: 32px;
  border-radius: var(--buttonBorderRadius);
  background-color: var(--colorSecondary);
  cursor: pointer;
  background: url('../img/filled-navigation-move.svg');
}



.calculator-subtitle .slider-value {
  width: 15%;
  font-size: var(--headline5);
  padding-left: var(--spacingTiny);
  color: var(--colorSecondary);
}


.categoria-produto {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--spacingStandard);
}

.tab {
  flex: 1;
  background-color: var(--colorSurface);
  color: var(--colorSecondary);
  border: none;
  border-bottom-style: solid;
  border-bottom-color: var(--colorSurface);
  padding: var(--spacingTiny) 0;
  font-size: var(--body1);
  cursor: pointer;
}

.tab.active {
  color: var(--colorPrimary);
  border-bottom-color: var(--colorPrimary);
}

.tab:hover {
  /*background-color: #B2302F; Tom mais escuro de colorPrimary */
}

.buttonOutlined {
  background-color: #E5004B;
  color: var(--colorOnPrimary);
  border: solid;
  border-color: var(--colorOnPrimary);
  border-radius: var(--buttonBorderRadius);
  padding: var(--spacingSmall) var(--buttonPaddingX);
  margin: 0 var(--spacingMicro);
  font-size: var(--body1);
  cursor: pointer;
  transition: background-color 0.3s;
}

.buttonOutlined:hover {
  background-color: var(--colorPrimaryLight);
}

.form-label {
  font-size: var(--body1);
  margin-bottom: var(--spacingTiny);
  text-align: left;
  color: var(--colorSecondary);
}

.form-button {
  background-color: var(--colorPrimary);
  color: var(--colorOnPrimary);
  border: none;
  border-radius: var(--buttonBorderRadius);
  padding: var(--buttonPaddingY) var(--buttonPaddingX);
  font-size: var(--body1);
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-button:hover {
  background-color: #B2302F; /* Tom mais escuro de colorPrimary */
}

.imagem-produto {
  height: 300px;
  border-radius: var(--borderRadiusLarge);
  transition: opacity 0.3s ease-in-out; /* Efeito de transição suave para a opacidade */
  opacity: 1; /* Opacidade inicial */
}

/* Clase para suavizar a troca de imagem */
.fade-image {
  opacity: 0;
}

.produto-ganhos-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.produto-container {
  width: 70%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.produto-legenda {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: var(--caption);
  color: var(--colorSecondary);
  border-style: solid none none none;
  border-color: var(--colorNeutral200);
}

.produto-legenda .tag-text {
  padding-left: 8px;
  text-align: left;

}

.resultado-ganhos {
  width: 35%;
  height: 300px;
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: flex-end;
}

.resultado-title {
  font-size: var(--headline6);
  color: var(--colorOnSurface);
}

.resultado-lista {
  list-style: none;
  padding: 0;
}

.resultado-lista li {
  height: 50px;
  display: flex; /* Flexbox para alinhamento */
  align-items: center; /* Centraliza verticalmente */
  justify-content: space-between;
  text-transform: uppercase; /* Para 'caption uppercase' */
  font-size: var(--body1);
  color: var(--colorOnPrimary);
  padding: var(--spacingMicro) var(--spacingTiny) var(--spacingMicro) var(--spacingMicro);
  margin-bottom: var(--spacingMicro);
  border-radius: var(--buttonBorderRadius);/* 0 0 var(--buttonBorderRadius);*/
}

.resultado-lista li .icon {
  margin: var(--spacingMicro); /* Espaço entre ícone e texto */
  width: var(--spacingSemi); /* Largura do ícone */
  height: var(--spacingSemi); /* Altura do ícone */
  background-color: var(--colorBackground);
  border-radius: var(--buttonBorderRadius);
  padding: var(--spacingMicro);
}

.resultado-lista li strong {
  font-size: var(--headline6); /* Tamanho da fonte para 'body1 strong' */
}

.resultado-lista li .gain-value {
  width: 96px;
  display: flexbox;
  text-align: right;
  padding-right: var(--spacingTiny);
}

.resultado-lista li .level{
  font-size: var(--caption);
  letter-spacing: 1px;
}

/* Estilos Básicos para a Calculadora de Ganhos */
/*...estilos existentes...*/

@media (max-width: 768px) {
  /* Container Principal - Colunas */
  .main-container {
    flex-direction: column;
    gap: var(--spacingMedium);
    padding: var(--spacingMedium);
  }

  /* Ajustes para a seção esquerda e direita */
  .left-section, .right-section {
    display: box;
    width: 100%;
    text-align: center;
    padding: var(--spacingStandard);
  }



  .produto-container {
    width: auto;
  }


  .produto-ganhos-container {
    display: flexbox;

    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .resultado-ganhos {
    width: auto;
    height: auto;
    flex-direction: column;
  }

  .resultado-lista li {
    height: 100px;
    display: flex; /* Flexbox para alinhamento */
    align-items: center; /* Centraliza verticalmente */
    justify-content: space-between;
    flex-direction: column;
    text-transform: uppercase; /* Para 'caption uppercase' */
    font-size: var(--body1);
    color: var(--colorOnPrimary);
    padding: 4;
    margin-left: 0px !important;
    margin-bottom: var(--spacingMicro);
    border-radius: var(--borderRadiusLarge);/* 0 0 var(--buttonBorderRadius);*/
  }

  .resultado-lista li .icon {
    margin: 0; /* Espaço entre ícone e texto */
    width: var(--spacingSemi); /* Largura do ícone */
    height: var(--spacingSemi); /* Altura do ícone */
    background-color: var(--colorBackground);
    border-radius: var(--buttonBorderRadius);
  }

  .resultado-lista li .gain-value {
    width: auto;
    text-align: center;
    padding-right: var(--spacingTiny);
  }

  .resultado-lista li .level{
    font-size: var(--caption);
    letter-spacing: 1px;
  }


  .imagem-produto {
    width: 100%;
    height: auto;
}