body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--colorBackground);
  color: var(--colorOnBackground);
  margin: 0;
  padding: 0;
}

/* Container Principal - Colunas */
.main-container {
  max-width: 1280px;

  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  
  margin: 0;
  padding: var(--spacingSemi);
  gap: var(--spacingLarge);
  

  background-image: url('../img/Asset 4.svg');
  background-position:center;
  background-size:cover;
  background-repeat: no-repeat;
}

/* Título e Subtítulo à Esquerda */
.left-section {
  flex: 1;
  text-align: left;
}

.section-title {
  font-size: var(--headline3);
  color: var(--colorOnPrimary);
  margin-bottom: var(--spacingTiny);
}

.instructions {
  font-size: 18px;
  font-weight: 300;
  color: var(--colorOnPrimary);
  margin-bottom: var(--spacingSemi);
  letter-spacing: 0.03em;
}

.buttonOutlined {
  background-color: #E5004B;
  color: var(--colorOnPrimary);
  border: solid;
  border-color: var(--colorOnPrimary);
  border-radius: var(--buttonBorderRadius);
  padding: var(--spacingSmall) var(--buttonPaddingX);
  margin: 0 var(--spacingMicro);
  font-size: var(--body1);
  cursor: pointer;
  transition: background-color 0.3s;
}

.buttonOutlined:hover {
  background-color: var(--colorPrimaryLight);
}

/* Calculadora à Direita */
.right-section {
  padding: 0;
  margin: 0;

  flex: 1;
  justify-content:center;
  align-items: center;
  
  background-color: var(--colorSurface);
  border-radius: var(--borderRadiusSmall);
  box-shadow: var(--elevationLarge);
  
  text-align: center;
}

.calculator-title{
  padding: var(--spacingStandard);
  margin: 0;
  color: var(--colorSecondary);
}

.form-label {
  font-size: var(--body1);
  margin-bottom: var(--spacingTiny);
  text-align: left;
  color: var(--colorSecondary);
}

.calculator {
  padding: 0;
  margin: 0 26px;

  width: inherit;
  height: 64px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border-style: solid;
  border-color: var(--colorNeutral75);
  border-radius: var(--buttonBorderRadius);
  /*margin: var(--spacingSemi) 0;*/
}

.calculator .form-slider {
  padding: 0;
  margin: 0 var(--spacingStandard);

  flex: 3;
  /*width: 75%;*/
  height: 2px;
  cursor: pointer;

  -webkit-appearance: none; 
  appearance: none;
  background: var(--colorNeutral200); 
  border-radius: var(--buttonBorderRadius);
  
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}


.calculator .form-slider:hover {
  opacity: 1;
}

.form-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;

  width: 32px;
  height: 32px;
  
  border-radius: var(--buttonBorderRadius);
  background-color: var(--colorSecondary);
  cursor: pointer;
  background: url('../img/filled-navigation-move.svg');
}

.calculator .slider-value {
  margin: 0;
  padding: 0 var(--spacingStandard) 0 0;
  flex: 1;
  font-size: var(--headline5);
  color: var(--colorSecondary);
}


.categoria-produto {
  margin: 0px ;
  padding: 0px ;

  display: flex;
  justify-content: space-between;
  margin-bottom: var(--spacingStandard);
}



.imagem-produto {
  margin: 0px ;
  padding: 0px ;

  height: 300px;

  border-radius: var(--borderRadiusLarge);
  transition: opacity 0.3s ease-in-out; 
  opacity: 1; 

}

/* Clase para suavizar a troca de imagem */
.fade-image {
  opacity: 0;
}

.product-container {
  margin: 0px;
  padding: 0px;

  display: flex;
  flex-direction: row; /* row no desktop e column no mobile */
  justify-content: space-between;
  align-items: center;
}

.promo {
  margin: 0px;
  padding: 0px;

  display: flex;
  flex: 2; /* 2 no desktop e 1 no mobile*/
  flex-direction: column;
  justify-content:flex-end;
  align-items:center;

  text-align: center;
}

.promo-subtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border-style: solid none none none;
  border-color: var(--colorNeutral200);
}

.promo-subtitle .tag-text {
  font-size: var(--caption);
  color: var(--colorSecondary);

  text-align: left;
  padding-left: 8px;
}

.earnings-result {
  margin: 0px;
  padding: 0px;

  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-end;
  justify-content: flex-end;
}

.resultado-title {
  margin: 0px ;
  padding: 0px ;

  font-size: var(--headline6);
  color: var(--colorOnSurface);
}

.results-list {
  width: 100%;
  height: auto;

  margin: 0px ;
  padding: 0px ;
  
  display: flex;
  flex-direction: column;
  list-style: none;

  background-color: aquamarine;
}

.results-list .diamond {
  margin-top: 0px;
  margin-left: 0px;

  height: var(--spacingXLarge);
  background-color: var(--colorLevelDiamond);
}


.results-list .gold{
  margin-top: 0px;
  margin-left: var(--spacingTiny);

  width: auto;
  height: var(--spacingXLarge);
  background-color: var(--colorLevelGold);
}

.results-list .silver {
  margin-top: 0px;
  margin-left: var(--spacingSmall);

  width: auto;
  height: var(--spacingXLarge);
  background-color: var(--colorLevelSilver);
}

.results-list .bronze {
  margin-top: 0px;
  margin-left: var(--spacingStandard);

  width: auto;
  height: var(--spacingXLarge);
  background-color: var(--colorLevelBronze);
}

.results-list .seed {
  margin-top: 0px;
  margin-left: var(--spacingSemi);

  width: auto;
  height: var(--spacingXLarge);
  background-color: var(--colorLevelSeed);
}

.results-list li {
  padding: 0px; /*var(--spacingMicro) var(--spacingTiny) var(--spacingMicro) var(--spacingMicro);*/
  margin: 0px;
  
  display: flex; /* inline-flex no desktop e flex no mobile */
  flex-direction: row; /* row no desktop e column-reverse no mobile */
  align-items: center; 
  justify-content: space-between;
  
  text-transform: uppercase; 
  font-size: var(--body1);

  color: var(--colorOnPrimary);
  /*border-radius: var(--buttonBorderRadius) var(--buttonBorderRadius) 0 0;*/ /* Ativar no mobile */
  border-radius: var(--buttonBorderRadius) 0 0 var(--buttonBorderRadius); /* Ativar no desktop */
}

.results-list li .icon {
  width: var(--spacingSemi); 
  height: var(--spacingSemi); 
  
  margin: var(--spacingMicro); 
  padding: var(--spacingMicro);
}

.results-list li .value-to-gain {
  text-align: center;
}

.results-list li .amount {
  text-align: center;
  font-size: var(--body1);
}

.results-list li .level{
  font-size: var(--caption);
  letter-spacing: 1px;
}

/* Comportamento mobile */

@media (max-width: 768px) {
  /* Container Principal - Colunas */
  .main-container {
    background-color: var(--colorPrimary);
    flex-direction: column;
    gap: var(--spacingMedium);
    padding: var(--spacingMedium);
  }

  /* Ajustes para a seção esquerda e direita */

  .left-section {
    display: box;
    text-align: center;
    padding: var(--spacingStandard);
    margin: var(--spacingStandard);
  }

  .right-section {
    display: box;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .product-container {
    flex: 2;
    flex-direction: column; /* row no desktop e column no mobile */
  }
  
.calculator .form-slider {
  flex: 2;
}

.calculator. slider-value {
  flex: 1;
  font-size: var(--headline6);
}

  .promo {
    display: flex; /* 2 no desktop e 1 no mobile*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    text-align: center;
  }
  
  .promo-subtitle {
  }
  
  .promo-subtitle .tag-text {
  }
  
  .earnings-result {
    flex: 1;
    height: 100%;
  }
  
  .resultado-title {
  }
  
  .results-list {
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }
  

  .results-list .diamond {
    margin: 0 0 0 0;

    width: var(--spacingXLarge);
    height: inherit;
  }
  
  .results-list .gold{
    margin: 0 var(--spacingTiny) 0 0;

    width: var(--spacingXLarge);
    height: inherit;
  }
  
  .results-list .silver {
    margin-left: 0px;
    margin-top: var(--spacingSmall);

    width: var(--spacingXLarge);
    height: 150px;
  }
  
  .results-list .bronze {
    margin-left: 0px;
    margin-top: var(--spacingStandard);

    width: var(--spacingXLarge);
    height: 150px;
  }
  
  .results-list .seed {
    margin-left: 0px;
    margin-top: var(--spacingSemi);

    width: var(--spacingXLarge);
    height: 150px;
  }
  
  .results-list li {
    width: 75px;
    height: 160px; /* 64px no desktop e auto no mobile */
    
    margin-left: 0px !important;
    display: inline-flex; /* flex no desktop e inline-flex no mobile */
    flex-direction: column; /* row no desktop e column no mobile */

  align-items: flex-end;
  justify-content: flex-end;
    border-radius: var(--buttonBorderRadius) var(--buttonBorderRadius) 0 0; /* Ativar no mobile */
    /*border-radius: var(--buttonBorderRadius) 0 0 var(--buttonBorderRadius);*/ /* Ativar no desktop */
  }
  
  .results-list li .icon {
    margin: var(--spacingMicro); 
    padding: var(--spacingTiny);
  }
  
  .results-list li .value-to-gain {
    text-align: center;
  }
  
  .results-list li .amount {
    text-align: center;
    font-size: var(--body1);
  }
  
  .results-list li .level{
    font-size: var(--caption);
    letter-spacing: 1px;
  }
}